@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'CSS/login.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;;
}

@layer components {

    .card{
        box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
        border-radius: 12px;
        padding: 1rem 3rem;
        margin: auto;
    }

    .title{
        /*@apply text-4xl text-bold;*/
        color: theme("colors.primary-blue-800");
        font-weight: 675;
        font-size: 2.35rem;
        line-height: 2.5rem;
        padding: 1.25rem;
    }

    .sub-title{
        color: theme("colors.primary-blue-500");
        font-weight: 625;
        font-size: 1.75rem;
        line-height: 1.85rem;
        padding: 1.25rem;
    }

    .input-field{
        background-color: theme("colors.background-blue");
        border-radius: 8px;
        outline: none;
        padding: 0.5rem 1rem;
    }

    .btn-lg{
        border-radius: 12px;
        font-size: 1.15rem;
        line-height: 1.75rem;
        font-weight: 425;
        padding: 0.5rem 2rem;
    }

    .btn-md{
        border-radius: 12px;
        font-size: 1.05rem;
        font-weight: 415;
        line-height: 1.5rem;
        padding: 0.5rem 1.85rem;
    }

    .btn-sm{
        border-radius: 12px;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.5rem 1.5rem;
    }

    .btn-outlined-red-md{
        border: 2px solid theme("colors.error-red");
        color: theme("colors.error-red");
        border-radius: 12px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        padding: 0.3rem 1.2rem;
    }

    .btn-outlined-red-sm{
        border: 2px solid theme("colors.error-red");
        color: theme("colors.error-red");
        border-radius: 12px;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 0.3rem 1rem;
    }

    .btn-outlined-gray-md{
        border: 2px solid theme("colors.secondary-gray");
        color: theme("colors.secondary-gray");
        border-radius: 12px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        padding: 0.3rem 1.25rem;
    }

}